.icon {
  position: static;
  margin-left: 38px;
  margin-top: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.sidebar {
  width: 320px;
  height: 100%;
  background-color: white;
  position: absolute;
  margin-top: -55px;
  margin-left:-320px;
  box-shadow: 0 0 0 0;
}

.sidebar.active {
  transform: translateX(320px);
  transition: 1s;
  box-shadow: 0 0 0 0;
}

.sidebar:not(:active) {
  transition: 1s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.sidebar__header {
  display: flex;
  justify-content: space-around;
  height: 40px;
  
}

.sidebar__header--menu1 {
  display: flex;
  width: 40%;
  justify-content: space-between;
  cursor: pointer;
}

.sidebar__header--menu {
  margin-top: 10px;
  height: 40px;
  width: auto;
  display: flex;
  cursor: pointer;
}

.sidebar__list {
  margin-top: 50px;
}

.sidebar__list1 {
  list-style-type: none;
  
}

.sidebar__list--item {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: TT Lakes;
  cursor: pointer;
}

.sidebar__footer--icons{
  width: 60%;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;

}

.sidebar__footer--adress{
  margin-left: 40px;
  font-family: TT Lakes;
}

.sidebar__footer{
  margin-top: 80%;
 
}

.sidebar__footer--icons__items{
  cursor:pointer;
}


ul li:focus{
  position: relative;
  border-left: 4px solid aquamarine;
  padding-left: 36px;
  margin-left: -40px;

}
.lange {
    margin-left: 40px;
    display: flex;
}